/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-Apr-2019, 02:17:03
    Author     : Nathasha
*/

@import url('https://www.w3.org/Style/Examples/007/fonts.en.html');

*{
	margin:0;
	padding: 0;
	user-select: none;

}
body{
	font-family: sans-serif;
	margin:100px;
	padding:0;
	background-image:linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) , url(images/books.jpg);
	background-size: cover;
	background-position:center;
	
	


}
.container{
	width:450px;
	margin:70px auto;
}

.login{
	width:50%;
	background:transparent;
	height:70px;
	float:left;
	margin-left: 0px;
	text-align: center;
	line-height:60px;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 40px;
	color:rgb(255, 255, 255);
	font-family: "Core Sans N W01 35 Light";

	
}

.login-form{
	background:transparent;
	box-sizing: border-box;
	padding: 20px 30px;
	width:100%;
	height:400px;
}
.input{
	height:30px;
  width:100%;;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  padding: 20px 30px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  border:2px solid #e9eaea;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;

}
.input:focus{
	border:2px solid #34b3a0;

}
.btn{
	border:none;
	outline:none;
	height:40px;
	background:#34b3a0;
	color:#fff;
	font-size: 20px;
	border-radius:20px;
  text-align:center;
  line-height: 38px;
  width: 100%;
  text-transform: uppercase;
  color:#fff;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 30px;
  cursor: pointer;
}
 .btn :hover , .btn:active{
	color:#013321;

}
.btn a{
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}

span a {
	text-decoration:none;
	color: black;
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	padding:0px;
	color:rgb(255, 255, 255);
	

	 
}
span a:hover{
	color:#34b3a0;
}
span p{
	margin:-5%;
	padding:0;
	font-weight: bold;
	color: #34b3a0;


}
